//colors
$primary-color:#242424;
$primary-color-variant: #000;
$primary-color-variant2: #373737;
$secondary-color:#fff;
$hr-color:#8b8b8b;
$sale-color:#cf6679;
$button-color:#C4C4C4;

$soundcloud-color:#ff7700;
$youtube-color:#ff0000;
$twitter-color:#00acee;
$facebook-color:#3B5998;

//font family
$main-font: 'Poppins', sans-serif;
$header-font: 'Staatliches', cursive;
