.bgImage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.drum{
    background-image: url('../images/Lofi-Drum-kit.png');
}
.space{
    background-image: url('../images/space-808.png');
}
.anime{
    background-image: url('../images/anime.png');
}