.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        margin: 0 15px;
    }
}
.active{
    border-top: transparent 10px solid;
    border-bottom: $secondary-color 10px solid;
}

@media(max-width: 600px){
    .icons{
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            margin: 0;
            margin-left: 15px;
        }
    }
}